.titulo {
    text-align: center;
    font-size: 50px;
    font-family: var(--body-font);
    font-weight:400;
    color: var(--dark-blue);
    margin: 30px 0;
}

/* ------------------ Responsividade */

@media (max-width: 995px) {
    .titulo {
        font-size: 40px;
    }
}