.homeC {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-columns: 
    "esq dir";
}

.homeC__menu {
  display: flex;
  flex-direction: column;
  background: linear-gradient(#110066, #0A003F);
  align-items: center;
  justify-content:first baseline;
}

.homeC__img {
  width: 75px;
  margin: 20px 0 20px;
}

.homeC__btnMenu {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



/* ------------------ Responsividade */

@media (max-width: 995px) {
  .homeC {
    grid-template-columns: 1fr;
    grid-template-rows: 5fr auto ;
    grid-template-areas: 
      "top"
      "bottom";
  }

  .homeC__menu {
    grid-area: top;
    padding: 10px;
  }

  .homeC__img {
    width: 45px;
  }

  .homeC__btnMenu {
    width: 100%;
  }

  .homeC__areaPrincipal {
    grid-area: top;
  }

  .homeC__areaUpload {
    width: 90%;
    justify-content: center;
  }

  .homeC__input {
    width: 90%;
  }

  .homeC__arrasteUpload {
    width: 90%;
  }
}