.loginF {
    display: grid;
    grid-template-areas: 
        "esq esq esq dir";
}

.loginF__titulo {
    font-family: var(--body-font);
    font-size: 30px;
    font-weight: 400;
    margin: 20px 0 10px;
    color: var(--dark-blue);
    grid-area: esq;
    text-align: center;
    margin: 60px 0 0;
}

.loginF__form {
    grid-area: esq;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginF__imgBg {
    display: flex;
    justify-content: center;
    grid-area: dir;
    background: linear-gradient(#110066, #0A003F);
}

.loginF__img {
    width: 250px;
}