.homeF {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.homeF__bgImg {
    background: linear-gradient(#110066, #0A003F);
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    align-items: center;
    padding: 20px 0;
}

.homeF__img {
    width: 75px;
    margin: 100px 0 80px;
}

.homeF__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* ------------------ Responsividade */

@media (max-width: 995px) {
    .homeF {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .homeF__img {
        width: 45px;
    }
}