.planos__table {
    width: 30%;
    margin: 50px 0;
}

.planos__thead {
    text-align: center;
    font-family: var(--body-font);
    font-weight: 600;
    font-size: 35px;
    color: var(--dark-blue);
    border: #d6d6d6 solid 1px;
    padding: 20px 10px;
    vertical-align: middle;
    background: var(--primary-yellow);
}

.planos__info {
    font-family: var(--body-font);
    font-weight: 300;
    font-size: 25px;
    color: black;
    border: rgb(214, 214, 214) solid 1px;
    padding: 20px 20px;
    vertical-align: middle;
}

.planos__preco {
    font-family: var(--body-font);
    font-size: 35px;
    font-weight: 700;
    color: var(--dark-blue);
    border: rgb(214, 214, 214) solid 1px;
    padding: 20px 10px;
    vertical-align: middle;
    height: 150px;
}

.planos__periodo {
    font-size: 25px;
    font-weight: 500;
    color: black;
}

.planos__usuarios {
    font-size: 25px;
    font-weight: 300;
    color: black;
}

.planos__btn {
    padding: 10px;
    display: flex;
    justify-content: center;
}

/* ------------------ Responsividade */

@media (max-width: 995px) {

    .planos__table {
        width: 90%;
    }
}