.updateFuncionarios__tituloWrapper {
    width: 500px;
    margin: 0 auto;
}

.updateFuncionarios__titulo {
    font-family: var(--body-font);
    font-weight: 500;
    font-size: 30px;
    color: var(--dark-blue);
    margin: 10px 0 10px 20px;
    text-align: center;
}

.updateFuncionarios__form {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto 20px;
}