.gerenciarFuncionarios {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

/* ------------------ Responsividade */

@media (max-width: 995px) {
    .gerenciarFuncionarios {
        justify-content: center;
    }
}