.home__titulo {
    text-align: center;
    font-size: 70px;
    font-family: var(--body-font);
    font-weight:200;
    color: var(--dark-blue);
    margin: 100px 0;
}

.homeSection {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto;
}

.homeSection__textoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeSection__texto {
    font-size: 30px;
    text-align: center;
    font-family: var(--body-font);
    font-weight: 600;
    color: var(--grey);
    margin-bottom: 20px;
}

.homeSection__img {
    width: 600px;
}

.home__planos {
    margin: 100px 0;
}

.home__planosWrapper {
    display: flex;
    justify-content: space-evenly;
}

.home__sobre {
    width: 90%;
    margin: 0 auto;
}

.home__contato {
    width: 80%;
    margin: 100px auto;
}

.home__final {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
}

/* ------------------ Responsividade */

@media (max-width: 995px) {
    .home__titulo {
        font-size: 30px;
        margin: 50px 0;
    }

    .homeSection {
        flex-direction: column;
        margin: 50px auto;
    }

    .homeSection__reverse {
        flex-direction: column-reverse;
    }

    .homeSection__texto {
        font-size: 20px;
        margin: 25px 0;
    }

    .homeSection__img {
        width: 300px;
        margin: 10px 0;
    }

    .home__planos {
        margin: 80px 0;
    }

    .home__planosWrapper{
        flex-direction: column;
        align-items: center;
    }

    .home__contato {
        margin: 80px auto;
    }

    .home__final {
        margin: 80px 0;
    }
}