header {
    background: var(--primary-yellow);
}

.header__imagem {
    width: 160px;
}

.header__nav {
    margin-left: 150px;
}

.header__nav__item {
    margin: 10px;
    text-decoration: none;
    font-family: var(--body-font);
    font-weight:500;
    font-size: 15px;
    color: var(--dark-blue);
}

.header__nav__btns {
    display: flex;
    align-items: center;
}

/* ------------------ Responsividade */

@media (max-width: 995px) {
    .header__nav {
        margin-left: 0;
        margin-bottom: 10px;
    }
}