.cadastroFuncionario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.cadastroFuncionario__titulo {
    font-family: var(--body-font);
    font-weight: 500;
    font-size: 30px;
    color: var(--dark-blue);
    margin: 60px 0 30px;
}
  
.cadastroFuncionario__form {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

/* ------------------ Responsividade */

@media (max-width: 995px) {
    .cadastroFuncionario__form {
        width: 90%;
    }
}