footer {
    background-color: var(--dark-blue);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__redes {
    width: 20px;
    margin: 10px 5px;
}

.footer__redes:hover {
    cursor: pointer;
}

.footer__logo {
    width: 100px;
}

/* ------------------ Responsividade */

@media (max-width: 995px) {
    footer {
        padding: 10px;
    }

    .footer__redes {
        margin: 5px 3px;
    }
}