footer {
    background-color: var(--dark-blue);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__redes {
    width: 30px;
    margin: 5px;
}

.footer__redes:hover {
    cursor: pointer;
}

.footer__logo {
    width: 150px;
}