.cadastro {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.cadastro__imgBg {
    background: linear-gradient(#110066, #0A003F);
    display: flex;
    justify-content: center;
    margin: 5px 0;
    border-radius: 0 10px 10px 0;
}

.cadastro__img {
    width: 350px;
}

.cadastro__formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.cadastro__titulo {
    font-family: var(--body-font);
    font-size: 30px;
    font-weight: 400;
    margin: 20px 0 10px;
}

.cadastro__titulo span {
    color: var(--dark-blue);
    font-weight: 600;
}

.cadastro__subtitulo {
    font-family: var(--body-font);
    font-size: 15px;
    font-weight: 400;
}

.cadastro__subtitulo span {
    color: var(--dark-blue);
    font-weight: 600;
    cursor: pointer;
}

.cadastro__form {
    display: flex;
    flex-direction: column;
    width: 55%;
    margin: 20px 0;
}

.cadastro__termos {
    display: flex;
    align-items: center;
    margin: 10px 0 20px;
}

.cadastro__termosTexto {
    font-family: var(--body-font);
    font-size: 15px;
    font-weight: 400;
}

.cadastro__termosTexto span {
    font-weight: 600;
    color: var(--dark-blue);
    cursor: pointer;
}

/* ------------------ Responsividade */

@media (max-width: 995px) {
    .cadastro {
        grid-template-columns: 1fr;
        grid-template-rows: 150px auto;
    }

    .cadastro__imgBg {
        border-radius: 0 0 10px 10px;
    }

    .cadastro__img {
        width: 200px;
        margin: 5px 0;
    }

    .cadastro__form {
        width: 90%;
    }
}